
<div class="encabezado">	
  
			<section>
				<h1 class="heading">CASINORT</h1>
				<h2 class="heading3"> Carrera de caballos</h2>
        <h5 class="heading"> Que caballo ganara la carrera?</h5>
        <h3 class="heading3">Puntos actuales: @Actual.PuntajeActual</h3>
			</section>								
 </div>

@if (@ViewBag.PuntajeActual > 0)
{

<div class="ala alert alert-danger alinear" role="alert">
  <h3 class="heading2"><u>Mira a los corredores:</u></h3>
</div>

<div class="alinear">
<div class="fotocaballo">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Imagenes/Caballo1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Imagenes/Caballo2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Imagenes/Caballo3 - copia.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Imagenes/Caballo4 - copia.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Imagenes/Caballo5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Imagenes/Caballo6.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>

<p>

</p>

<div class="ala alert alert-danger alinear" role="alert">
  <h3 class="heading2"><u>El caballo ganador sera:</u></h3>
</div>

<div class="alinear">
 <form method="post" action='@Url.Action("Carrera")' enctype="multipart/form-data">

    <select class="form-select" aria-label="Default select example" name="Carrera">
            <option selected>¿Que caballo va a ganar?</option>

              <option value="1">El mexicano loco</option>
              <option value="2">El rey carlos</option>
              <option value="3">El friolento adams</option>
              <option value="4">El facha gutierrez</option>
              <option value="5">La maquina usain</option>
              <option value="6">El Messias</option>
    </select>
    
        
    
  <br>

  <input class="alert alert-danger ancho subrayado loco" type="submit" value="ADIVINAR">
  </form>
</div>
}
@if (@ViewBag.PuntajeActual <= 0)
{
  <div class="ala alert alert-danger alinear" role="alert">
  <h3 class="heading2"><u>Te quedaste sin puntos...</u></h3>
</div>
}


<br>
<a class="" asp-area="" asp-controller="Home" asp-action="Puntos">
  
  <div class="alert alert-danger alinear margen" role="alert">
  <h1 class="subr">Volver a la home</h1>
</div>
  
  </a>