<div class="encabezadoG borde">	
			<section>
        <div class="alinear titulo alert alert-success borde" role="alert">
  <h1><b>GANASTE!</b></h1>
</div>
				<h2 class="verde margen"> Sumaste 60 puntos!</h2>
        <h4 class="verde"> Puntaje actual: @ViewBag.PuntajeActual</h4>
			</section>										
 </div>

<br>
<div class="alert alert-danger" role="alert">
  <h1 class="alinear">El puntaje del crupier fue: <b>@ViewBag.Crupier</b></h1>
</div>

<div class="alert alert-success" role="alert">
  <h1 class="alinear">Tu puntaje fue: <b>@ViewBag.Puntblack</b></h1>
</div>

<div class="titulo borde alert alert-success alinear" role="alert">
  <h3 class=""><u>Vos ahora</u></h3>
</div>

<div class="alinear">
<img src="https://pxc.cdn.ellitoral.com.ar/litoral/092021/1631243234317.jpg" class=" crupier">
</div>

<br>

<a class="" asp-area="" asp-controller="Home" asp-action="Blackjack">
  
  <div class="titulo subrayado alert alert-success alinear margen" role="alert">
  <h1 class="subr">Volver al blackjack</h1>
</div>
  
  </a>