@{
    ViewData["Title"] = "Home Page";
}

<div class="encabezado">	
  <img class="redondo" src = "~/Imagenes/Logo.jpg">
			<section>
				<h1 class="heading">CASINORT</h1>
				<h2 class="heading3"> ¡Entrá al TOP 5 de los estudiantes más cracks!</h2>
        <h5 class="heading"> Subí el volumen de tu computadora para disfrutar de la musica.</h5>
			</section>
													
 </div>
  
  </a>
</div>


<div class="alinear">
<a class="alert alert-danger bla subrayado" asp-area="" asp-controller="Home" asp-action="AgregarJugador">
  <h1>¡REGISTRATE!</h1> 
</a>
</div>

<br>





