<div class="encabezado">	
  
			<section>
				<h1 class="heading">CASINORT</h1>
				<h2 class="heading3"> @Actual.Username</h2>
        <h5 class="heading"> Elegi tu juego favorito para sumar puntos</h5>
        <h3 class="heading3">Puntos actuales: @Actual.PuntajeActual</h3>
			</section>
													
 </div>


<div class="alinear">
<div class="alinear tarjeta ala card mb-3">
  <img src="https://www.mejorescasinosonline.net/wp-content/uploads/2020/03/crupier-de-casino-ventajas-desventajas.jpg" class="fotos card-img-top" alt="...">
  <div class="card-body">
    <h2 class="heading3 card-title">Mayor - Menor - Igual</h2>
    <p class="ola card-text">Elegi si la siguiente carta va a ser mayor, menor o igual a la que se te presenta.</p>
    
    <div class="alinear">
<a class="alert alert-danger bla subrayado" asp-area="" asp-controller="Home" asp-action="Juego1">
  <h3>¡Jugalo!</h3> 
</a>
    </div>
  </div>
</div>
</div>


<div class="alinear">
<div class="alinear tarjeta ala card mb-3">
  <img src="https://www.anipedia.net/imagenes/carrera-caballos-800x375.jpg" class="fotos card-img-top" alt="...">
  <div class="card-body">
    <h2 class="heading3 card-title">Carrera de caballos</h2>
    <p class="ola card-text">Apostale al caballo que va a ganar la carrera.</p>
    
    <div class="alinear">
<a class="alert alert-danger entre subrayado" asp-area="" asp-controller="Home" asp-action="Caballos">
  <h3>¡Jugalo!</h3> 
</a>
    </div>
  </div>
</div>
</div>


<div class="alinear">
<div class="alinear tarjeta ala card mb-3">
   <img src="https://lpemnoticias.cl/wp-content/uploads/2021/10/blackjack_board.jpg" class="fotos card-img-top" alt="...">
  <div class="card-body">
    <h2 class="heading3 card-title">BlackJack</h2>
    <p class="ola card-text">Llega lo mas cerca que puedas de 21 para ganarle al crupier</p>
    
    <div class="alinear">
<a class="alert alert-danger entre subrayado" asp-area="" asp-controller="Home" asp-action="Blackjack">
  <h3>¡Jugalo!</h3> 
</a>
    </div>
  </div>
</div>
</div>

<a class="" asp-area="" asp-controller="Home" asp-action="Fin">
  <div class="subrayado alert alert-danger alinear margen" role="alert">
  <h1 class="subr">FIN</h1>
</div>
  </a>
    
  </div>
</div>