<div class="encabezado borde">	
			<section>
        <div class="alinear tituloP alert alert-danger borde" role="alert">
  <h1><b>Perdiste</b></h1>
</div>
				<h2 class="rojo margen"> Restaste 30 puntos</h2>
        <h4 class="rojo"> Puntaje actual: @ViewBag.PuntajeActual</h4>
			</section>										
 </div>

<br>
<div class="alert alert-danger" role="alert">
  <h1 class="alinear">El puntaje del crupier fue: <b>@ViewBag.Crupier</b></h1>
</div>

<div class="alert alert-secondary" role="alert">
  <h1 class="alinear">Tu puntaje fue: <b>@ViewBag.Puntblack</b></h1>
</div>

<div class="titulo2 borde alert alert-danger alinear" role="alert">
  <h3 class=""><u>Vos ahora</u></h3>
</div>

<div class="alinear">
<img src="https://resizer.glanacion.com/resizer/k-xrZuk9c33HyRjvJV-JaQENPsU=/768x0/filters:format(webp):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/5CMLDEQ7SRAMLGCJOOYIVYKYL4.JPG" class=" crupier">
</div>

<br>


<a class="" asp-area="" asp-controller="Home" asp-action="Blackjack">
  
  <div class="tituloP borde subrayado alert alert-danger alinear margen" role="alert">
  <h1 class="subrayado rojo2">Volver al blackjack</h1>
</div>
  
  </a>